---
http_interactions:
- request:
    method: get
    uri: http://api.recommendations.spbtv.com/v2/recommendations?application=spbtv&limit=300&offset=0&type=channel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bdb951b2f152a0dd364e01ccfd6a3b24"
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"210","type":"channel","score":304503},{"id":"30","type":"channel","score":241778},{"id":"211","type":"channel","score":217738},{"id":"118","type":"channel","score":188929},{"id":"85","type":"channel","score":180152},{"id":"lifenews","type":"channel","score":100495},{"id":"carousel_ru","type":"channel","score":91304},{"id":"168","type":"channel","score":87565},{"id":"firetv","type":"channel","score":82373},{"id":"52","type":"channel","score":79232},{"id":"184","type":"channel","score":75677},{"id":"235","type":"channel","scor[...]
