---
http_interactions:
- request:
    method: get
    uri: http://api.recommendations.spbtv.com/v2/similar?application=mts&device_id=0003a702-1f95-44b7-b2d3-e1b68047d947&item_id=russia1&limit=300&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"40752166f98f732b8d1b5e477386a64c"
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"24_Doc","type":"channel","score":0.5},{"id":"69","type":"channel","score":0.5},{"id":"really_scary_tv","type":"channel","score":0.5},{"id":"172","type":"channel","score":0.5},{"id":"humorbox","type":"channel","score":0.5},{"id":"470","type":"channel","score":0.5},{"id":"viasat_exploder","type":"channel","score":0.5},{"id":"europa_plus_tv","type":"channel","score":0.5},{"id":"554","type":"channel","score":0.5},{"id":"216","type":"channel","score":0.5},{"id":"france_24_en","type":"channel","score":0.5},{"id":"119","type":"channel[...]
